doctype html
html
  head
    title nanikiru
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/app.css")
  body
    div#selected-tiles
      ul.selected-tiles
    ul.character-tiles
      li(data-kind="character-1", data-order="1", data-count="4")
        img(src="/img/character/1.png")
      li(data-kind="character-2", data-order="2", data-count="4")
        img(src="/img/character/2.png")
      li(data-kind="character-3", data-order="3", data-count="4")
        img(src="/img/character/3.png")
      li(data-kind="character-4", data-order="4", data-count="4")
        img(src="/img/character/4.png")
      li(data-kind="character-5", data-order="5", data-count="4")
        img(src="/img/character/5.png")
      li(data-kind="character-6", data-order="6", data-count="4")
        img(src="/img/character/6.png")
      li(data-kind="character-7", data-order="7", data-count="4")
        img(src="/img/character/7.png")
      li(data-kind="character-8", data-order="8", data-count="4")
        img(src="/img/character/8.png")
      li(data-kind="character-9", data-order="9", data-count="4")
        img(src="/img/character/9.png")
    ul.dot-tiles
      li(data-kind="dot-1", data-order="11", data-count="4")
        img(src="/img/dot/1.png")
      li(data-kind="dot-2", data-order="12", data-count="4")
        img(src="/img/dot/2.png")
      li(data-kind="dot-3", data-order="13", data-count="4")
        img(src="/img/dot/3.png")
      li(data-kind="dot-4", data-order="14", data-count="4")
        img(src="/img/dot/4.png")
      li(data-kind="dot-5", data-order="15", data-count="4")
        img(src="/img/dot/5.png")
      li(data-kind="dot-6", data-order="16", data-count="4")
        img(src="/img/dot/6.png")
      li(data-kind="dot-7", data-order="17", data-count="4")
        img(src="/img/dot/7.png")
      li(data-kind="dot-8", data-order="18", data-count="4")
        img(src="/img/dot/8.png")
      li(data-kind="dot-9", data-order="19", data-count="4")
        img(src="/img/dot/9.png")
    ul.bamboo-tiles
      li(data-kind="bamboo-1", data-order="21", data-count="4")
        img(src="/img/bamboo/1.png")
      li(data-kind="bamboo-2", data-order="22", data-count="4")
        img(src="/img/bamboo/2.png")
      li(data-kind="bamboo-3", data-order="23", data-count="4")
        img(src="/img/bamboo/3.png")
      li(data-kind="bamboo-4", data-order="24", data-count="4")
        img(src="/img/bamboo/4.png")
      li(data-kind="bamboo-5", data-order="25", data-count="4")
        img(src="/img/bamboo/5.png")
      li(data-kind="bamboo-6", data-order="26", data-count="4")
        img(src="/img/bamboo/6.png")
      li(data-kind="bamboo-7", data-order="27", data-count="4")
        img(src="/img/bamboo/7.png")
      li(data-kind="bamboo-8", data-order="28", data-count="4")
        img(src="/img/bamboo/8.png")
      li(data-kind="bamboo-9", data-order="29", data-count="4")
        img(src="/img/bamboo/9.png")
    ul
      li(data-kind="honor-1", data-order="31", data-count="4")
        img(src="/img/honor/1.png")
      li(data-kind="honor-2", data-order="32", data-count="4")
        img(src="/img/honor/2.png")
      li(data-kind="honor-3", data-order="33", data-count="4")
        img(src="/img/honor/3.png")
      li(data-kind="honor-4", data-order="34", data-count="4")
        img(src="/img/honor/4.png")
      li(data-kind="honor-5", data-order="35", data-count="4")
        img(src="/img/honor/5.png")
      li(data-kind="honor-6", data-order="36", data-count="4")
        img(src="/img/honor/6.png")
      li(data-kind="honor-7", data-order="37", data-count="4")
        img(src="/img/honor/7.png")
    script(src="/js/jquery.min.js")
    script(src="//fb.me/react-0.13.2.min.js")
    script(src="/js/app.js")