doctype html
html
  head
    title nanikiru
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/primer.css")
    link(rel="stylesheet", href="/css/app.css")
  body
    .container
      #selected
        ul.selected-tiles
      input.input-large.input-block(type="text", placeholder="URL to share")
      .blankslate
        ul#character.character-tiles
          li(data-kind="character", data-number="1", data-order="1", data-count="4")
            img(src="/img/character/1.png")
          li(data-kind="character", data-number="2", data-order="2", data-count="4")
            img(src="/img/character/2.png")
          li(data-kind="character", data-number="3", data-order="3", data-count="4")
            img(src="/img/character/3.png")
          li(data-kind="character", data-number="4", data-order="4", data-count="4")
            img(src="/img/character/4.png")
          li(data-kind="character", data-number="5", data-order="5", data-count="4")
            img(src="/img/character/5.png")
          li(data-kind="character", data-number="6", data-order="6", data-count="4")
            img(src="/img/character/6.png")
          li(data-kind="character", data-number="7", data-order="7", data-count="4")
            img(src="/img/character/7.png")
          li(data-kind="character", data-number="8", data-order="8", data-count="4")
            img(src="/img/character/8.png")
          li(data-kind="character", data-number="9", data-order="9", data-count="4")
            img(src="/img/character/9.png")
        ul#dot.dot-tiles
          li(data-kind="dot", data-number="1", data-order="11", data-count="4")
            img(src="/img/dot/1.png")
          li(data-kind="dot", data-number="2", data-order="12", data-count="4")
            img(src="/img/dot/2.png")
          li(data-kind="dot", data-number="3", data-order="13", data-count="4")
            img(src="/img/dot/3.png")
          li(data-kind="dot", data-number="4", data-order="14", data-count="4")
            img(src="/img/dot/4.png")
          li(data-kind="dot", data-number="5", data-order="15", data-count="4")
            img(src="/img/dot/5.png")
          li(data-kind="dot", data-number="6", data-order="16", data-count="4")
            img(src="/img/dot/6.png")
          li(data-kind="dot", data-number="7", data-order="17", data-count="4")
            img(src="/img/dot/7.png")
          li(data-kind="dot", data-number="8", data-order="18", data-count="4")
            img(src="/img/dot/8.png")
          li(data-kind="dot", data-number="9", data-order="19", data-count="4")
            img(src="/img/dot/9.png")
        ul#bamboo.bamboo-tiles
          li(data-kind="bamboo" data-number="1", data-order="21", data-count="4")
            img(src="/img/bamboo/1.png")
          li(data-kind="bamboo" data-number="2", data-order="22", data-count="4")
            img(src="/img/bamboo/2.png")
          li(data-kind="bamboo" data-number="3", data-order="23", data-count="4")
            img(src="/img/bamboo/3.png")
          li(data-kind="bamboo" data-number="4", data-order="24", data-count="4")
            img(src="/img/bamboo/4.png")
          li(data-kind="bamboo" data-number="5", data-order="25", data-count="4")
            img(src="/img/bamboo/5.png")
          li(data-kind="bamboo" data-number="6", data-order="26", data-count="4")
            img(src="/img/bamboo/6.png")
          li(data-kind="bamboo" data-number="7", data-order="27", data-count="4")
            img(src="/img/bamboo/7.png")
          li(data-kind="bamboo" data-number="8", data-order="28", data-count="4")
            img(src="/img/bamboo/8.png")
          li(data-kind="bamboo" data-number="9", data-order="29", data-count="4")
            img(src="/img/bamboo/9.png")
        ul#honor.honor-tiles
          li(data-kind="honor" data-number="1", data-order="31", data-count="4")
            img(src="/img/honor/1.png")
          li(data-kind="honor" data-number="2", data-order="32", data-count="4")
            img(src="/img/honor/2.png")
          li(data-kind="honor" data-number="3", data-order="33", data-count="4")
            img(src="/img/honor/3.png")
          li(data-kind="honor" data-number="4", data-order="34", data-count="4")
            img(src="/img/honor/4.png")
          li(data-kind="honor" data-number="5", data-order="35", data-count="4")
            img(src="/img/honor/5.png")
          li(data-kind="honor" data-number="6", data-order="36", data-count="4")
            img(src="/img/honor/6.png")
          li(data-kind="honor" data-number="7", data-order="37", data-count="4")
            img(src="/img/honor/7.png")
    script(src="/js/react.min.js")
    script(src="/js/react-dom.min.js")
    script(src="/js/jquery.min.js")
    script(src="/js/app.js")
